.mySwiper.card-slider{
    padding: 0 10px;
}

.swiper-button-prev{
left: -1px;
}
.swiper-button-next{
right: -1px;
}
.swiper-button-prev:after, .swiper-button-next:after{
    font-size: 12px;
    font-weight: 600;
    background: #EEEEEE;
    padding: 4px 7px;
    border: 2px solid #3D3D3C;
    border-radius: 50%;
}