@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-helvetica{
  font-family: 'Helvetica Neue', sans-serif;                                                
}
.font-roboto{
  font-family: "Roboto", sans-serif;
}

/* -------- banner----- */
.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}
.home-banner{
  background-image: url("./assets/Images/Home/hero-bg.png");
}
.tanants-similler-banner{
  background-image: url("./assets/Images/Tanants-similler/Common-bg.png");
}
.virtual-tours-banner{
  background-image: url("./assets/Images/VirtualTours/Virtual_Bg.png");
}



/* ----------Home Page Google Review slider---- */
.mySwiper.review {
  padding: 30px 47px !important;
}
